BasedOnStyle: LLVM
PointerAlignment: Left

SortIncludes: false
IndentCaseLabels: true

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
